@media only screen and (max-width: 600px) {
  .card-columns {
    margin: 1vw 0vw 3vw 0vw !important;
    padding: 0 !important;
    width: 100% !important;
    column-count: 3;
  }

  .custom-card {
    margin-bottom: 5vw !important;
  }
}

.card-columns {
  @media only screen and (min-width: 992px) {
    column-count: 4;
  }
  @media only screen and (min-width: 1200px) {
    column-count: 5;
  }
}

.card-columns {
  margin: 1vw 5vw 3vw 5vw;
  padding: 1vw 5vw 3vw 5vw;
}

.custom-card {
  margin-bottom: 1vw;
}

.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-move,
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
